<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" href="{{ url_for('book.add_book') }}" method="POST">
    <input type="text" name="bookname" placeholder="书名">
    <input type="text" name="introduce" placeholder="介绍">
    <input type="text" name="book_image" placeholder="book_image">
    <input type="text" name="category_id" placeholder="种类id">

    <hr>
    <button class="btn btn-primary" name="1">提交</button>
</form>
<p></p>
<hr>
<p></p>
{#<form action="" href="{{ url_for('book.add_category') }}" method="POST">#}
{#    <input type="text" name="category_name" placeholder="书的种类名">#}
{#    <button class="btn btn-primary" name="2">提交</button>#}
{#</form>#}
</body>
</html>