{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block main %}
    <table border="0" width="1300px" >
  <tr>
    <th width="200px">分类</th>
    <th >
        <ul class="nav nav-tabs">
              <li role="presentation" class="active" ><a href="#" >年级</a></li>
                <li role="presentation"><a href="#">科目</a></li>
              <li role="presentation"><a href="#">重难点专题</a></li>
              <li role="presentation"><a href="#">经典案例</a></li>
            <li role="presentation"><a href="#">名师辅导</a></li>
            <li role="presentation"><a href="#">优秀作品</a></li>
            <li role="presentation"><a href="#">VIP专区</a></li>
        </ul>
    </th>
  </tr>
  <tr>
    <td>
        <ul class="nav nav-pills nav-stacked">
              <li role="presentation" class="active"><a href="#">一年级</a></li>
              <li role="presentation"><a href="#">二年级</a></li>
              <li role="presentation"><a href="#">三年级</a></li>
        </ul>
    </td>
    <td>
        啊手动阀手动阀手动阀手动阀
    </td>
  </tr>
</table>
{% endblock %}
